body,
html {
  width: 100%;
  height: 100%;
  background: #222222;
  font-family: "Lato", sans-serif;
  display: flex;
  overflow: hidden;
}
h1 {
  color: #00d09c;
  text-align: center;
  margin-left: 70px;
  font-size: 32px;
  font-family: Apple Chancery;
}
ul {
  text-align: center;
}

form li {
  list-style: none;
  margin-bottom: 5px;
}
.leftView {
  background-image: url("https://assets-netstorage.groww.in/website-assets/prod/1.6.1/build/client/images/patternImg.0edf5760.svg");
  background-size: 100%;
  width: 50%;
  height: 100%;
  color: #dce7e4;
  font-size: 115px;
}
.rightView {
  width: 50%;
  height: 100%;
}
.leftView_text {
  margin-top: 200px;
}

input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 4px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="date"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 4px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 4px 36px 4px 24px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="select"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 4px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 65%;
  background-color: #00d09c;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* input[type="submit"]:hover {
  background-color: #4caf50;
} */
input[name="email"] {
  margin: 4px 0 4px 28px;
}
form ul li label {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

form ul li input,
select,
/* span {
  float: left;
  margin-bottom: 10px;
} */


[type="submit"] {
  clear: left;
  /* margin: 20px 0 0 230px; */
  font-size: 18px;
  font-family: Apple Chancery;
}
[type="date"] {
  clear: left;
  /* margin: 20px 0 0 230px; */
  font-size: 18px;
  font-family: Apple Chancery;
}

p {
  margin-left: 70px;
  font-weight: bold;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  /* top: 0;
  left: 0; */
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
div {
  font-size: 13px;
  color: #ff0505;
  /* padding-left: 40px;
  padding-right: 40px; */
}
